
<div class="rightdiv">
<% if devop_user_signed_in? %>
   <%= link_to('logout', destroy_devop_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('login', new_devop_user_session_path) %>
<% end %>
<%  @redmineUsers.each do |ru| %>
<%= ru.name%>
<%end%>
</div>
