<div class="rightdiv" >
  <table id="sorter">
     <caption>PR Status</caption>
    <tr>
      <th class="nosort">ID</th>
      <th>PR ID</th>
      <th>Updated ON (days ago)</th>
      <th class="nosort">Description</th>
      <th>Respository</th>
      <th>Branch</th>
    </tr>
    <%@hash.each do |key, value|%>
  <tr>
    <% @hash[key].each do |x,y|%>
  <td >  <%= y %> </td>
    <%end%>
  </tr>
  <%end%>

  </table>
  <script>
  var sorter=new table.sorter("sorter");
  sorter.init("sorter",1);

</script>
</div>
<style>
th{
background-color: #384d8c;
color: white;
border-color: white;
font-weight: bolder;
text-align: center;
cursor: pointer;
}
.nosort {
cursor: default;
}

</style>
