<div class="rightdiv">
  <dl>
    <dt>Build Update</dt>
    <dd>.............................................</dd>
  </dl>
        <table id="myTable">

          <thead>
      <th>Pipeline Name</th>
      <th onclick="sortTable(1)">Created Time</th>
      <th>Result</th>
      <th>Lable Id</th>
      <th>Lable No</th>
      <th onclick="sortTable(5)">Last Modified Time</th>
      <th>Trigger message</th>
      <th>Description</th>
    </thead>
    <%i=0%>
      <%@ans.each do |item|%>
        <%item.each do |item1|%>
    <tr>
      <td ><%= item1["name"]%></td>
      <td ><%= Time.at(item1["stages"][0]["jobs"][0]["scheduled_date"]/1000)%></td>
      <td><%= item1["stages"][0]["result"]%></td>
      <td ><%= item1["stages"][0]["id"]%></td>
      <td><%= item1["label"]%></td>
      <td><%= Time.at(item1["build_cause"]["material_revisions"][0]["modifications"][0]["modified_time"]/1000)%></td>
      <td><%= item1["build_cause"]["trigger_message"]%></td>
      <td><%= item1["build_cause"]["material_revisions"][0]["material"]["description"]%></td>
      <%end%>
    </tr>
      <%end%>
    </tr>
    </table>
  </div>
