<div class="rightdiv">
  <dl>
    <dt>Build Status</dt>
    <dd>.............................................</dd>
  </dl>

    <table id="myTable">
    <thead>
    <th>Pipeline Id</th>
    <th>Pipiline</th>
    <th onclick="sortTable(2)">Created Time</th>
    <th>Build Result</th>
    <th>Build ID</th>
    <th>State of Build</th>
    <th onclick="sortTable(6)">Transitionsud Time</th>
  </thead>
  <% @jso.each do |item|%>
  <tr>
  <td><%= item["id"]%></td>
  <td><%= item["pipeline_name"]%></td>
  <td><%= Time.at(item["scheduled_date"]/1000)%></td>
  <td><%= item["result"]%></td>
  <td><%= item["job_state_transitions"].last["id"]%></td>
  <td><%= item["job_state_transitions"].last["state"]%></td>
  <td><%= Time.at(item["job_state_transitions"].last["state_change_time"]/1000)%></td>
  </tr>
<%end%>
</table>
</div>
