
    <div class="rightdiv">
      <div id="calendar">
        <div class="edit-button">
          <input type="button" id="edit" value="Edit" onclick=$(':checkbox').removeAttr('disabled');>
          <%= button_tag "Save", :id => "editbtn", :onclick=>"$(':checkbox').attr('disabled',true);"%>
        </div>
            <%= month_calendar do |date| %>
            <%= check_box_tag 'leave[]',date,false, :disabled => true%>
            <%= date %>
      <% end %>
      </div>
    </div>
