
    <div class="rightdiv">
      <dl>
        <dt>Verification Issues</dt>
        <dd>.............................................</dd>
      </dl>
      <table>
        <thead>
          <th>Id</th>
          <th>Project</th>
          <th>Tracker</th>
          <th>Status</th>
          <th>Priority</th>
          <th>Subject</th>
          <th>Assignee</th>
          <th>Updated</th>
        </thead>
        <% @d.each do |item| %>
        <% @trac = params[:tracker] %>
        <%= @trac %>
        <tr>
          <td><%= item["id"]%></td>
          <td><%= item["project"]["name"]%></td>
          <td><%= item["tracker"]["name"]%></td>
          <td><%= item["status"]["name"]%></td>
          <td><%= item["priority"]["name"]%></td>
          <td><%= item["subject"]%></td>
          <td><%= item["assigned_to"]["name"]%></td>
          <td><%= item["updated_on"]%></td>
        </tr>
        <% end %>
      </table>
    </div>
