/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require simple_calendar
 */
 .authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
  align-content: center;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
.signin
{
  position: fixed;
  left:435px;
  top:100px;
  padding: 100px;
  border:1px solid blue;
}
 .menubar                                  /*menu bar*/
 {
   background-color:#384d8c;
   height:43px;
   padding:11px 0px 11px 11px;
   width: 100% ;
 }

 #userpanel, ul, li, li li {
     margin: 0;
     padding: 0;
 }

 #userpanel {
     float: right;
 }

 #userpanel ul
 {
      line-height: 20px;
      cursor: pointer;
      right:0px;
 }

     #userpanel li {
         list-style: none;
         position: relative;

     }

         #userpanel li li {
             list-style: none;
             position: relative;
             background: #eee;

         }


     #userpanel ul li a {
         width: 130px;
         height: 40px;
         display: block;
         text-decoration: none;
         padding-left: 20px;
         padding-top: 9px;
         font-family: Georgia,'Times New Roman',serif;
         color:#384d8c;
         border-bottom: 1px solid #eee;
     }

     #userpanel ul ul {
         position: absolute;
         visibility: hidden;
         top:30px;
     }

     #userpanel i:hover ul {
         visibility: visible;

     }

     #userpanel ul li:hover li {
         visibility: visible;
         z-index: 1;
     }

     #userpanel li:hover {
         /*background-color: #97c0e4;*/
         color: #fff;
     }
     #userpanel ul li:active a {
       color: #fff;
     }

     #userpanel ul li:hover ul li a:hover {
         background-color: #97c0e4;

     }

     #userpanel a:hover {
         font-weight: bold;

     }
/*
 #userpanel                                /*user pan
 {
   background-color: #eee;
   float:right;
   margin-right: 20px;
   /*visibility: hidden;*
   display: none;
   width: 80px;
 }*/


 .heading {                                         /*projheading*/
   margin:2px 0px 0px 5px;
   padding-left:50px;
    color:white;
 }
 ul {
   list-style:none;
   font-size:15px;
 }


 .arrow
 {
   font-size:35px;
 }
 .arrow:hover
 {
   text-decoration: none;
 }


  /**
 * Demo Styles
 */

body {
  min-height: 100%;
    background-color: #eee;
}
/**
 * Footer Styles
 */
.footer {
  padding: 1rem;
 background-color: #384d8c ;
 text-align: center;

 color:white;
 height:43px;
}
.rightdiv
{
  background-color: white;
  width:100%;
  min-height:87.5vh;
  float:right;
}
dd{
  padding-left: 30px;
}
dt{
  padding-left:10px;
  color:#384d8c;
  font-size:20px;
}
.calendar-title {
  font-size: 36px;
  padding: 20px;
  color: #337ab7;
}
.calendar-heading {
  text-align: center;
}
.prev-month {
  visibility: hidden;
}
.next-month {
  visibility: hidden;
}
.edit-button {
  float: right;
  margin: 10px;
}
.footerlogin
{
  padding: 1rem;
 background-color: #384d8c ;
 text-align: center;
 color:white;
 height:43px;
 bottom:0;
 position:fixed;
 width:100%;
}
