.row.content {height: 800px}

   /* Set gray background color and 100% height */
   .sidenav {
     top: 60px;
     background-color: #f1f1f1;
     height: 100%;
     position: fixed;

   }
   .bs:hover {
    color: white !important;
    background-color:#384d8c !important;
  }

   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 767px) {
     .sidenav {
       height: auto;
       padding: 15px;
     }
     .row.content {height: auto;}
   }
   #redpanel, #gopanel, #bitpanel, #holpanel                            /*user panel*/
   {
     background-color: #f1f1f1;
     color: blue;
     display: none;
     position: fixed;
     left:215px;
   }
