#divMenu, ul, li, li li {
    margin: 0;
    padding: 0;
}

#divMenu {
    width: 145px;
    background-color: #eee;
    float: left;
}
.ro
{
  display: flex;
}

#divMenu ul
{
     line-height: 40px;
     cursor: pointer;
}

    #divMenu li {
        list-style: none;
        position: relative;

    }

        #divMenu li li {
            list-style: none;
            position: relative;
            background: #eee;
            left: 145px;
            top: -20px;
        }


    #divMenu ul li a {
        width: 150px;
        height: 40px;
        display: block;
        text-decoration: none;
        padding-left: 20px;
        font-family: Georgia,'Times New Roman',serif;
        color:#384d8c;
        border-bottom: 1px solid #eee;
    }

    #divMenu ul ul {
        position: absolute;
        visibility: hidden;
        top: 20px;
    }

    #divMenu ul li:hover ul {
        visibility: visible;

    }

    #divMenu ul li:hover li {
        visibility: visible;
        z-index: 1;
    }

    #divMenu li:hover {
        background-color: #97c0e4;
        color: #fff;
    }

    #divMenu ul li:hover ul li a:hover {
        background-color: #97c0e4;
    }

    #divMenu a:hover {
        font-weight: bold;

    }

table, th, td {
  border:1px solid #384d8c;
}
th, td {
  padding: 10px;
}
table {
  width: 98%;
  margin-left:10px;
}
table caption{
  text-align: center;
  color: #384d8c;
  font-size: 40px;
}
thead th{
  background-color: #384d8c;
  color: white;
  border-color: white;
  font-weight: bolder;
  text-align: center;
}
