<!DOCTYPE html>
<html>
  <head>
    <title>Devops PMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="script.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style media="screen">
    .usericon
{
font-size:29px;
color:white;
margin-right:15px;
}
    </style>
  </head>

  <body>

    <div class="menubar">
      <h4 class="heading">DevOps PMS</h4>
    </div>
    <div class="ro">

    <%= yield %>
  </div>
  <footer class="footerlogin">
  <div>
  <p>copyright<i class="fa fa-copyright"></i>appranix.com</p>
  </div>
  </footer>

  </body>
</html>
